*{
    font-family: "微软雅黑";
}
body{
    min-width: 500px;
}
textarea{
    outline: none;
    border: 1px solid #ccc;
    resize: none;
}

button{
    height: 25px;
    background: #fff;
    outline: none;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 5px;
}
button:hover{
    border: 1px solid #42ACF4;
    background: #42ACF4;
    transition: .5s;
}
.item{
    float: left;
    text-align: center;
    line-height: 45px;
    padding: 0px 5px;
    height: 45px;
    margin: 10px 8px 0px 0px;
    background: red;
    position: relative;
    animation: left_in 1s;
}
@keyframes left_in{
    0%{
        left: -600px;
    }
    100%{
        left: 0px;
    }
}
@keyframes right_in{
    0%{
        right: -600px;
    }
    100%{
        right: 0px;
    }
}
#queue{
    float: left;
}
input{
    width: 100px;
    height: 20px;
    outline: none;
    border: 1px solid #ccc;
}