*{
  margin: 0;
  padding: 0;
}
body{
  font-family: "黑体";
}
.main{
  width: 980px;
  height: 1386px;
  margin: 0 auto;
  background: #fff;
}
.top{
  width: 892px;
  height: 61px;
  margin: 0 auto;
  background: #fff;
  font-size: 12px;
  border-bottom: 2px solid #938e8c;
}
.top_bg{
  background: #d45d5c;
  display: inline-block;
  width: 110px;
  height: 61px;
}
.top_bg span{
  float: left;
  color: #fff;
  margin-top: 45px;
  margin-left: 4px;
}
.top_time{
  float:right;
  color: #d45d5c;
  margin-top: 45px;
}
.middle{
  margin: 44px;
  background: red;
}
.middle_left{
  position: relative;
  float: left;
}
.middle_right{
  position: relative;
  float: right;
  width: 203px;
  height: 300px;
  background: #fff;
}
.middle_right hr{
  height: 2px;
  background: #cc8091;
}
.About{
  font-size: 24px;
  color: #000;
  font-family: "微软雅黑";
  line-height: 40px;
  text-decoration: underline;
  font-variant: small-caps;
  text-transform: capitalize;
}
.detail{
  font-size: 12px;
  color: #676767;
  font-family: "楷体";
  line-height: 10px;
  font-style: oblique;
}
.seven{
  font-size: 116px;
  color:#75b86b;
  font-family: "微软雅黑";
  font-style: oblique;
  margin-left: -18px;
}
.num{
  font-size: 55px;
  color: #cc8091;
  font-family: "微软雅黑";
  position: absolute;
  bottom: -10px;
  left:0px;
}
.text_1{
  font-size: 21px;
  color: #cc8091;
  font-family: "微软雅黑";
  position: absolute;
  bottom: 10px;
  left:85px;
}
.text_2{
  font-size: 12px;
  color: #ccc;
  font-family: "微软雅黑";
  position: absolute;
  bottom: 0px;
  left: 85px;
}
.cover_left{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 191px;
  height: 301px;
  background: green;
  opacity: 0.30;
}
.cover_right{
  position: absolute;
  top: 0px;
  right:0px;
  width: 191px;
  height:301px;
  background: red;
  opacity: 0.30;
}
.middle_text{
  float: left;
  margin:44px;
  width: 888px;
}
.what{
  height: 28px;
  font-size: 16px;
  color: #418c59;
  font-family: "微软雅黑";
  font-weight: bold;
  text-decoration: underline;
}
.le{
  width: 230px;
  float: left;
  margin-right: 20px;
}
.le p{
  font-size: 12px;
  color: #767777;
  line-height: 16px;
  font-family: "宋体";
}
.mi{
  width: 210px;
  float: left;
  margin-right: 20px;
}
.mi p{
  font-size: 12px;
  color: #767777;
  line-height: 16px;
  font-family: "宋体";
}
.ri{
  width: 140px;
  float: left;
  margin-right: 20px;
}
.ri p{
  font-size: 12px;
  color: #767777;
  line-height: 16px;
  font-family: "宋体";
}
